{:name "scratchpad"
 ; run
 :autoload-clj-ns [scratchpad.handler
                   scratchpad.tap]
 :api-routes {"scratchpad" {:get scratchpad.handler/wrapped-scratchpad-get-handler
                            :post scratchpad.handler/wrapped-scratchpad-set-handler}}
 :cljs-routes  {"devtools/scratchpad" scratchpad.page.scratchpad/scratchpad}
 :sci-cljs-ns [scratchpad.page.scratchpad
               scratchpad.page.show]
 }

 